[submodule "tb2086-kicad"]
	path = kicad/tb2086-kicad
    url=git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "Panelization.pretty"]
	path = kicad/Panelization.pretty
	url = git@github.com:madworm/Panelization.pretty.git
